p.caption {
    color: #777;
    margin-top: 10px;
}
p code {
    white-space: inherit;
}
pre {
    word-break: normal;
    word-wrap: normal;
}
pre code {
    white-space: inherit;
}

.header-section-number {
    padding-right: .2em;
    font-weight: 500;
}
.level1 .header-section-number {
    display: inline-block;
    border-bottom: 3px solid;
}
.level1 h1 {
    border-bottom: 1px solid;
}

/* My custom styles */
/* top, right, bottom, left */

/* Reflection questions */
div.reflect {
    border: 4px solid #8cc63f;
    border-radius: 8px;
    background-color: #e2f7c5;
    padding: 5px 8px 2px 8px;
    margin: 0px 10px 10px 10px;
}
div.reflect::before {
    content: "Reflection question: ";
    font-weight: bold;
}

/* Examples */
div.example {
    border: 4px solid #ef8923;
    border-radius: 8px;
    background-color: #edd4bd;
    padding: 5px 8px 2px 8px;
    margin: 0px 10px 10px 10px;
}

/* Captions */
div.caption {
    margin: 0px 30px 0px 30px;
}
